<h1>Bienvenue !</h1>
<div class="container">
 <form  method="post" class="form-signin">
        <center>
    <%= image_tag("/assets/rubylang.png",  alt: "like", class: "like_image_for_index") %>
        </center>
        <h1 class="text-center">BETA<strong>BOOKS</strong><h1>
        <h1 class="h3 mb-3 text-center font-weight-normal">Connectez vous !</h1>
        <label for="nom" class="sr-only">Nom</label>
        <input type="text" name="Name_admin" id="inputUserName" class="form-control" placeholder="Votre nom" required
            autofocus>
        <label for="mdp" class="sr-only">Password</label>
        <input type="mdp" name="Mdp_admin" id="mdp" class="form-control" placeholder="Votre mot de passe"
            required>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Se connecter</button>
    </form>
</div>
