<%= form_for @book do %>
  <input type="text" name="title" value="<%= @book.title %>" placeholder="Title"/>
  <input type="text" name="image" value="<%= @book.image %>" placeholder="Lien image"/>
  <p><%= @book.errors[:title].first %></p>
  <% if @book.persisted? %>
    <input type="submit" value="Modifier le livre" class="btn btn-warning"/>
  <% else %>
    <input type="submit" value="Ajouter le livre" class="btn btn-warning"/>
  <% end %>
<% end %>