
<h1><%= @book.title %></h1>
<div class="container text-center">
    <%= render "books/form" %>
    <%= form_tag "/books/#{@book.id}", method: "delete" do %>
    <input class="btn btn-primary" type="submit" value="Supprimer le livre" />
    <% end %>
</div>
<p><a href="/books">Retourner à l’index</a></p>