/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 
@import "bootstrap";
 h1 {
     text-align: center;
 }
 h2 {
    text-align: center;
}
img.like_image_for_index {
    width: 10%;
}
body {
    color: white;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    background: #d60202;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #d60202 1%, #5a1c1c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #d60202), color-stop(100%, #5a1c1c));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #d60202 1%, #5a1c1c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #d60202 1%, #5a1c1c 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #d60202 1%, #5a1c1c 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #d60202 1%, #5a1c1c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d60202', endColorstr='#5a1c1c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh);
    width: 100%;
}